.table {
    width: 40%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
}

.firstAbility {
    margin-bottom: 0;
}

.statHeader {
    margin-bottom: 0;
    color: #999999;
}

tr {
    vertical-align: middle;
}


td {
    padding-bottom: 1px !important;
    padding-top: 1px !important;
}


#tablehead {
    background: lightgrey;
}

.pokemonName {
    font-size: 13px;
}

small {
    font-size: 10px;
}
